__pycache__/
.*

Contenedores/DB/Repositorios/storage/
Contenedores/docker_tests/
Contenedores/Kafka/

MaquinasVirtuales/DB/Repositorios/storage/
MaquinasVirtuales/IaC/terraform/.terraform/

Microservicios/DB/Repositorios/storage/
Microservicios/logs/
Microservicios/docker-kafka/kafka-storage/

Monolitico/DB/Repositorios/storage/


