__pycache__/
.*

Cluster/k8s yaml files/
Cluster/src/DB/generation_files
Cluster/src/Kafka/generation_files

Contenedores/DB/Repositorios/Storage/
Contenedores/docker_tests/
Contenedores/Kafka/

MaquinasVirtuales/DB/Repositorios/storage/
MaquinasVirtuales/IaC/terraform/.terraform/

Microservicios/DB/Repositorios/storage/
Microservicios/logs/
Microservicios/docker-kafka/kafka-storage/

Monolitico/DB/Repositorios/storage/


